.card {
    width: 100%;
    cursor: pointer;
    position: relative;
    padding: 100px 0;

    .bookmarkContainer {
        // width: 10%;
        // padding: 20px;
        // display: flex;
        // align-items: center;
        // justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        // background-color: white;
    }

    .imgContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        min-height: 200px;
    }

    .infoContainer {
        position: absolute;
        left: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        padding: 20px;
        width: 100%;
        font-weight: 100;
        transform: translateY(20px);
        transition: all 0.7s ease;
        opacity: 0;

        .nameItem {
            display: flex;
            align-items: center;
            padding: 0 10px;
        }
    }

    &:hover {
        .infoContainer {
            transform: translateY(0);
            opacity: 1;
            transition: all 0.7s ease;
        }
    }
}

.card:nth-child(3n) {
    background-color: rgb(255, 217, 218);
    color: rgb(129, 90, 92);
}

.card:nth-child(2n) {
    background-color: rgb(247, 246, 249);
    color: rgb(139, 139, 139);
}

.card:nth-child(4n) {
    background-color: rgba(188, 230, 253, 0.87);
    color: rgb(86, 120, 138);
}

.card:nth-child(5n) {
    background-color: rgba(255, 239, 187, 0.849);
    color: rgb(122, 113, 83);
}
