.card {
    position: relative;
    padding: 100px 0;
    width: 100%;
    cursor: pointer;

    a {
        color: inherit;
    }
}

.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 200px;
}

.card:nth-child(3n) {
    background-color: rgb(255, 217, 218);
    color: rgb(129, 90, 92);
}

.card:nth-child(2n) {
    background-color: rgb(247, 246, 249);
    color: rgb(139, 139, 139);
}

.card:nth-child(4n) {
    background-color: rgba(188, 230, 253, 0.87);
    color: rgb(86, 120, 138);
}

.card:nth-child(5n) {
    background-color: rgba(255, 239, 187, 0.849);
    color: rgb(122, 113, 83);
}