.homeCard {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: calc(100%/2);
    height: calc(100%/3);
    transform-origin: center;
    transition: all 0.7s ease;

    img {
        transform: translateY(0);
        transition: all 0.7s ease;
    }
}

// Refactoring : Used several time in the code (on HeroCard and HomeCard)
.infoContainer {
    position: absolute;
    left: 0;
    bottom: 0;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding: 15px 0 15px 40px;
    width: 100%;
    font-weight: 100;
    opacity: 0;
    // variable
    font-size: 18px;
    transform: translateY(20px);
    transition: all 0.7s ease;

    .nameItem {
        display: flex;
        align-items: center;
    }

    .price {
        width: 100%;
        text-align: left;
        color: inherit;
        font-family: 'Palanquin', sans-serif;
    }
}

.homeCard:hover {
    cursor: pointer;

    .infoContainer {
        transform: translateY(0);
        opacity: 1;
        transition: all 0.7s ease;
    }
}

.homeCard:nth-child(1n) {
    background-color: rgb(222, 208, 239);
    color: rgb(100, 82, 122);
}

.homeCard:nth-child(2n) {
    background-color: rgb(255, 217, 218);
    color: rgb(129, 90, 92);
}

.homeCard:nth-child(3n) {
    background-color: rgb(247, 246, 249);
    color: rgb(139, 139, 139);
}

.homeCard:nth-child(4n) {
    background-color: rgb(188, 230, 253);
    color: rgb(86, 120, 138);
}

.homeCard:nth-child(5n) {
    background-color: rgb(255, 239, 187);
    color: rgb(122, 113, 83);
}

